.overlayy{
    position: fixed;
    width: 100%;
    top: -115px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.box-changeInfor-pass {
    width: 700px;
    min-height: 600px !important;
    background-color: #fff;
    position: absolute;
    top: 17%;
    left: 27%;
    border-radius: 5px;
}
.confirm-titlee {
    border-bottom: 1px solid grey;
    padding: 18px;
    color: #050505;
    font-family: ğ¬ğ¨ğ¦ğ ğ©ğ«ğğ¯ğ¢ğğ° ğ­ğğ±ğ­;
    font-weight: 600;
    font-size: 20px;
}
.background-close {
    background-color: #E4E6EB;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.icon-close {
    margin-left: 10px;
}
.title-changeInfor {
    margin-right: 150px;
    font-size: 22px;
}
h5 {
    width: 200px;
}
.user-image-edit img {
    width: 130px;
    height: 130px;
    margin-left: 115px;
}
.user-image-edit input {
    margin-left: 75px;
    /* width: 360px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgba(22, 24, 35, 0.06); */
    margin-top: 22px;
}
.user-name input {
    margin-left: -25px;
    width: 360px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgba(22, 24, 35, 0.06);
}
.user-email input {
    margin-left: -25px;
    width: 360px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgba(22, 24, 35, 0.06);
}
.user-sdt input {
    margin-left: -25px;
    width: 360px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgba(22, 24, 35, 0.06);
}
.next-button-changeInfor {
    background-color: #1B74E4;
    color: #ffffff;
    border: none;
    float: right;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}