.inforbussiness-wapper {
    background: #fafafa;
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, .87);
    min-height: 655px;
}
.inforbussiness-title {
    text-align: center;
    padding: 20px;
}
.inforbussiness-title span {
    font-size: 25px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 500;
}
.inforbussness-form {
    margin: 80px;
    margin-top: 0px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 540px;
}
.form-inforbussiness-title {
    border-bottom: 1px solid rgba(98, 103, 115, .2);
    padding-bottom: 5px;
    font-family: "Noto Sans", sans-serif;

}
.form-inforbussiness-title h4{
    font-size: 18px;
    font-weight: 700;
    color: #626773;
}
.infor-bussiness-row {
    height: 40px !important;
}
.infor-bussiness-row h6 {
    /* float: right; */
    text-align: right;
    font-weight: 600;
}
.infor-bussiness-row span {
    color: rgb(25, 25, 217);
    font-weight: 600;
}
.custom-btn11 {
    width: 150px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  /* 11 */
.btn-11 {
    border: none;
    background: rgb(251,33,117);
      background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
      color: #fff;
      overflow: hidden;
  }
  .btn-11:hover {
      text-decoration: none;
      color: #fff;
  }
  .btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
  }
  .btn-11:hover{
    opacity: .7;
  }
  .btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  
  @-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }
 .set-color {
    fill: #fff;
 }
 /* edit */

.form-edit-inforbussiness {
    position: relative;
    top: 0%;
    left: 25%;
    width: 800px;
    height: 715px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    overflow: scroll;
 }
 .edit-inforbussiness-title {
    border-bottom: 1px solid rgba(98, 103, 115, .2);
    padding-bottom: 5px;
 }
 .edit-inforbussiness-title div{
    cursor: pointer;
 }
 .edit-inforbussiness-title h4 {
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    color: #626773;
 }
 .form-edit-bussiness-img>div>img {
    width: 70px;
    height: 70px;
 }
 .form-edit-bussiness-input {
    height: 50px !important;
 }
 .form-edit-bussiness-input label {
    text-align: right;
 }
 .form-edit-bussiness-input input {
    font-size: 14px;
    width: 350px;
    height: 40px;
    padding: 7px 14px;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    outline: none;
 }
 .title-logo {
    text-align: right;
    position: relative;
    top: 75px;
 }
/* 1 */
.btn-1 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
  }
  .btn-1:hover {
     background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
  }
  